.footer {
    background: url(../images/footer-bcg.png) center top no-repeat;
    padding-top: 135px;

    .footer-inner {
        background: #373737;
        padding: 30px 0 10px;

        @include min-screen($desktop) {
            padding: 45px 0 10px;
        }
    }

    .footer-header {
        margin: 0 0 15px;
        padding: 0;
        font-size: 16px;
        font-weight: 300;
        color: $orange;
        text-transform: uppercase;
        text-align: center;

        @include min-screen($desktop) {
            font-size: 20px;
            text-align: left;
        }
    }

    .footer-list {
        margin: 0 0 20px;
        padding: 0;
        list-style: none;

        @include min-screen($desktop) {
            margin-bottom: 10px;
        }

        li {
            text-align: center;

            @include min-screen($desktop) {
                text-align: left;
            }

            a {
                display: block;
                padding: 2px 0;
                font-size: 16px;
                font-weight: 300;
                color: $white;
                text-decoration: none;

                .no-touch &:hover {
                    text-decoration: underline;
                }

                @include min-screen($desktop) {
                    font-size: 20px;
                }
            }
        }
    }

    .socials-list {
        list-style: none;
        margin: 0;
        padding: 0;
        text-align: center;
        
        @include min-screen($desktop) {
            text-align: left;
        }

        li {
            display: inline-block;
            width: 43px;
            height: 43px;
            margin: 0 5px 0 0;
            text-align: center;
            background-size: 100% auto;
            background-position: 0 0;
            background-repeat: no-repeat;

            a {
                display: block;
                width: 100%;
                height: 100%;
            }

            &.linkedin {
                background-image: url(../images/ico-linkedin.svg);
                .no-svg & {
                    background-image: url(../images/ico-linkedin.png);
                }
            }

            &.g-plus {
                background-image: url(../images/ico-gplus.svg);
                .no-svg & {
                    background-image: url(../images/ico-gplus.png) 
                }
            }

            &.fb {
                background-image: url(../images/ico-fb.svg);
                .no-svg & {
                    background-image: url(../images/ico-fb.png) 
                }
            }

            &.tw {
                background-image: url(../images/ico-tw.svg);
                .no-svg & {
                    background-image: url(../images/ico-tw.png) 
                }
            }
        }
    }

    .copyright {
        background: $dark-gray;

        p {
            margin: 10px;
            font-size: 16px;
            color: #6b6b6b;
            text-align: center;

            @include min-screen($desktop) {
                &.group-name {
                    text-align: left;
                }

                &.policy {
                    text-align: right;
                }
            }
        }
    }
}
