.main-header {
    width: 100%;
    height: 65px;
    position: fixed;
    top: 0;
    z-index: 10;
    background-color: $dark-gray;

    .logo {
        width: 111px;
        height: 46px;
        padding: 8px 0;
        background: url(../images/logo.png) 0 center no-repeat;

        @include hdpi() {
            background: url(../images/logo@2x.png) 0 center no-repeat;
            background-size: 100% auto;
        }

        a {
            display: block;
            width: 100%;
            height: 100%;
            text-indent: 150%;
            white-space: nowrap;
            overflow: hidden;
        }
    }

    .lang-switcher {
        position: absolute;
        right: 100px;
        top: 20px;

        @include min-screen($desktop) {
            right: 20px;
        }

        ul {
            width: 80px;
            background: $darker-gray url(../images/arrow-down.png) calc(100% - 10px) 11px no-repeat;
            margin: 0;
            padding: 0 3px;
            list-style: none;
            border-radius: 10px;
            cursor: pointer;

            li {
                display: none;

                &.default-language {
                    display: block;
                }
                a {
                    display: inline-block;
                    padding: 1px 5px 1px 10px;
                    font-size: 2em;
                    color: $white;
                    text-decoration: none;

                }
            }

            &.open li {
                display: block;
                a {
                    .no-touch &:hover {
                        color: $orange;
                    }
                }
            }
        }
    }
}

.header-navigation {
    position: relative;

    .nav-trigger {
        width: 44px;
        height: 38px;
        padding: 10px;
        margin: 12px;
        background: transparent;
        position: absolute;
        z-index: 100;
        top: 0;
        right: 0;
        border: 0;
        outline: none;
        overflow: hidden;
        @include box-sizing(border);

        @include min-screen($desktop) {
            display: none;
        }

        span {
            display: block;
            width: 100%;
            height: 3px;
            font-size: 0;
            background-color: $white;
            @include transform(translateY(0px));
            @include transition(300ms);

            &:before,
            &:after {
                content: "";
                position: absolute;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: $white;
                @include transition(300ms);
                .navigation-active & {
                    background-color: $white;
                }
            }
            .navigation-active & {
                background-color: $dark-gray;
                &:before,
                &:after {
                    background-color: $white;
                }
            }
            &:before {
                @include transform(translateY(-7px));
            }
            &:after {
                @include transform(translateY(7px));
            }
            @include min-screen($desktop) {
                background-color: $white;
                &:after,
                &:before {
                    background-color: $white;
                }
            }
        }

        .navigation-active & {
            span {
                &:before {
                    background-color: $white;
                    @include transform(translateY(0px) rotate(-45deg));
                }
                &:after {
                    background-color: $white;
                    @include transform(translateY(0px) rotate(45deg));
                }
            }
        }

    }

    .navs {
        .navs-container {
            position: fixed;
            top: 0;
            left: -100%;
            width: 100%;
            height: 100%;
            background-color: $dark-gray;
            @include transition(opacity 500ms);
            @include opacity(0);

            @include min-screen($desktop) {
                position: relative;
                left: auto;
                width: auto;
                height: auto;
                @include opacity(100);
            }

            .navigation-active & {
                left: 0;
                z-index: 20;
                @include opacity(100);
            }

        }

        .main-navigation {
            ul {
                margin: 0;
                padding: 50px 0;
                list-style: none;
                text-align: center;

                @include min-screen($desktop) {
                    padding: 0;
                    text-align: right;
                }
                li {
                    display: block;
                    margin: 10px 0;

                    @include min-screen($desktop) {
                        display: inline-block;
                        margin: 0 10px;
                    }

                    &.selected a {
                        font-weight: 600;
                    }

                    a {
                        display: block;
                        padding: 5px 0;
                        font-size: 2.4em;
                        font-weight: 300;
                        color: $white;
                        text-decoration: none;

                        @include min-screen($desktop) {
                            padding: 16px 0;
                            margin: 0 10px;
                            .no-touch &:hover,
                            &:focus {
                                color: $orange;
                            }
                        }
                    }
                    &.login {
                        a {
                            color: $orange;
                        }

                        @include min-screen($desktop) {
                            vertical-align: top;

                            a {
                                padding: 7px 10px;
                                background-color: $orange;
                                border-radius: 0 0 5px 5px;
                                font-size: 2em;
                                color: $white;
                                @include transition(300ms);

                                .no-touch &:hover,
                                &:focus {
                                    background-color: $white;
                                    color: $orange;
                                }
                            }
                        }
                    }
                }
            }   
        }
    }

}
