.wrapper {
    max-width: 936px;
    margin: 0 auto;
    padding: 0 10px;

    @include min-screen($desktop) {
        padding: 0;
    }
}

body {
    padding-top: 65px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 62.5%;
}
