// For media-queries
$phone-landscape: 30em;         // 480px
$tablet-portrait: 40em;     // 640px
$tablet-landscape: 64em;    // 1024px
$desktop: 80em;             // 1280px
$wide-desktop: 90em;   // 1600px

// Colors
$light-gray: #4b4744;
$dark-gray: #333333;
$darker-gray: #2a2a2a;
$white: #fff;
$black: #000;
$orange: #ff5909;
$dark-blue: #3f5a8e;

// browers support for css animations
$prefix-for-webkit:    true !default;
$prefix-for-mozilla:   true !default;
$prefix-for-microsoft: true !default;
$prefix-for-opera:     true !default;
$prefix-for-spec:      true !default;